<head>
    <title>Blog ninja | <%= title %>
    </title>
</head>
<link rel="stylesheet" href="../style.css">
<style>
    body{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    nav ul li a{
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
    .site-title a {
        font-size: 40px;
    }
    .site-title{
        text-align: center;
    }
    .site-title p{
        font-size: 25px;
    }
    .content{
        text-align: center;
        margin-top: 150px;
    }
    #delete{
        padding: 10px 20px;
        background-color:red;
        color: white;
    }
</style>